@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --body-bg: #fff;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
    margin: 0;
    font-family: 'montserrat', sans-serif;
}