@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root {
    --body-bg: #fff;
    --header-footer-bg: aqua;
    --main-txt: #252525;
    --main-txt2: #fff;
    --active-txt: red;
    --bg-visible-txt: rgba(16, 15, 15, 0.1);
    --card-gradient1: orange;
    --card-gradient2: #f0d05fcc;
    --card-section-bg: #fff;
    --why-chess-txt-bg: rgba(16, 15, 15, 0.35);
    --signup-bg: rgba(60, 60, 60, 0.6);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    background-color: whitesmoke;
}

body {
    background-color: var(--body-bg);
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    margin: auto;
    margin-top: 6em;
    max-width: 1600px;
    min-width: 300px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

/*
                ----------LOGO AND NAVIGATION BAR ----------
*/

header {
    background-color: var(--header-footer-bg);
    text-align: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    max-width: inherit;
    margin-top: 0;
    top: 0;
}

header > a { 
    font-style: none;
    text-decoration: none;
    color: var(--main-txt);
}
/* 
    Hide the checkbox 
*/

.hamburger-toggle {
    display: none;
}

/*  
    Create the initial hamburger line and styling.
*/

.hamburger-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

/*
    use ::before and ::after to duplicate the line and create the top and bottom of the hamburger
*/

.hamburger-toggle-label span,
.hamburger-toggle-label span::before,
.hamburger-toggle-label span::after {
    display: block;
    background: var(--main-txt);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;

}

.hamburger-toggle-label span::before,
.hamburger-toggle-label span::after {
    content: '';
    position: absolute;
}

.hamburger-toggle-label span::before {
    bottom: 7px;
}

.hamburger-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--header-footer-bg);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 488ms ease-in-out;
}

nav ul {
    margin: 0;
    padding-right: 16em;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    transition: 0.3s;
}

nav a {
    text-decoration: none;
    color: var(--main-txt);
    font-size: 120%;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--active-txt);
}

/*
    :checked - dictates what happens after the hamburger toggle is activated
*/

.hamburger-toggle:checked ~ nav {
    transform: scale(1,1);
}

.hamburger-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.logo {
    font-size: 250%;
    overflow: visible;
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px var(--card-shadow);
}

/*
                        ---------- HERO SECTION ----------
*/

.hero-section {
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
    overflow: hidden;
    height: 90vh;
}

.hero-text {
    color: var(--main-txt);
    text-align: center;
    
    margin: auto;
    width: 65%;
    height: 50vh;
    padding: 6em 1em;

    max-width: 490px;
    max-height: 498px;
}

.hero-text .button {
    width: 50%;
    margin: auto;
}

.hero-text .button:hover {
    transform: scale(1.02);
    transition: ease-in-out;
    box-shadow: 0 0 40px -10px var(--card-shadow);
}

/*
                        ----------OFFER CARDS SECTION----------
*/

.offers-section {
    background-color: var(--card-section-bg);
    width: 100%;
    height: fit-content;
    padding: 50px 50px;
    z-index: 999;
}

.offers-section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 300px;
    background: var(--card-section-bg);
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 5px;
}

.card-header {
    text-align: center;
    padding: 25px 10px;
    background: linear-gradient(to right, var(--card-gradient1), var(--card-gradient2));
    color: var(--main-txt2);
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 1em;
}

.button {
    display: block;
    color: var(--main-txt2);
    text-align: center;
    background: linear-gradient(to right, var(--card-gradient1), var(--card-gradient2));
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px var(--card-shadow);
}

/*
                        ----------WHY CHESS SECTION----------
*/

.why-chess-section {
    color: var(--main-txt2);
    background-image: url(../images/why-chess.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    height: fit-content;
    gap: 2em;
    padding: 6em 0;
    box-shadow: #3a3a3a;
} 

.why-chess-container {
    background-color: var(--why-chess-txt-bg);
    margin: auto;
    padding: 2em;
    border-radius: 5px;
    line-height: 1.5em;
    max-width: 830px;
}

.why-chess-container h2 {
    padding-top: 1em;
    text-align: center;
}

.why-chess-container h3 {
    padding-top: 2em;
}

.why-chess-container p {
    font-weight: 300;
}

/*
                ----------FOOTER WITH SOCIAL MEDIA LINKS ----------
*/

footer {
    height: fit-content;
}

.social-networks {
    text-align: center;
    background: var(--header-footer-bg);
    margin: 0;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 1% 3%;
    color: var(--main-txt);
}


/*
                    ----------MORE CHESS PAGE----------
*/

.more-section {
    max-width: 800px;
    margin: auto;
}

.more-block {
    padding: 2em;
    text-align: center;
    line-height: 2em;
}

.more-section .at-top {
    padding-top: 2.5em;
}

.more-section h2, h3 {
    padding-top: 1em;
}

.game-iframe {
    width: 100%;
    border: none;
}

.iframe-video {
    width: 560px;
    height: 315px;
}

hr {
    width: 50%;
}

/*
                    ----------CONTACT FORM----------
*/

.contact-section {
    clear: left;
    background: url(../images/signup-pic.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: var(--main-txt2);
    background-color: var(--signup-bg);
    max-width: 400px;
    position: absolute;
    right: 10%;
    padding: 2em;
}

.signup-form > h2 {
    color: var(--card-gradient1);
    text-align: center;
}

.signup-form > p {
    font-weight: 300;
    text-align: center;
    padding: 0 2em 2em 2em;
}

.signup-form ul {
    list-style-type: none;
    padding-bottom: 2em;
}

.signup-form .button {
    margin: auto;
    transition: 1s;
}

.signup-form .button:hover {
    transform: scale(1.2);
    box-shadow: 0 0 40px -10px var(--card-shadow);
}

.text-input {
    background: transparent;
    color: var(--main-txt2);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid var(--main-txt2);
    border-radius: 2px;
}

.text-input:hover {
    border-color: var(--card-gradient1);
}

/*
                    ----------MEDIA QUERIES----------
*/

@media screen and (min-width: 1000px) {
    
    .hamburger-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    .logo {
        float: left;
        padding-left: 100px;
    }


    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        padding-right: 100px;
    }

    nav li {
        margin-bottom: 0;
        margin-left: 2em;
    }

    nav a {
        opacity: 1;
    }

    .hero-text {
        position: absolute;
        margin: 0;
        top: 100px;
        right: 90px;
    }

}

@media screen and (max-width: 670px) {

    body {
        margin-top: 3em;
    }

    .hero-section {
        height: 80vh;
    }

    .hero-text {
        font-size: 90%;
    }

    .iframe-video {
        width: 373.33px;
        height: 210px;
    }

    .contact-section {
        height: 900px;
    }

    .signup-form {
        margin: 1em 0 0 2em;
    }

}

@media screen and (max-width: 420px) {

    .logo {
        font-size: 170%;
        padding-left: 1em;
    }

    .hero-text {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 85vw;
        padding: 1.5em;
        font-size: 80%;
    }

}

@media screen and (max-width: 375px) {

   .logo {
    float: right;
    padding-right: 1em;
   }
   
    .iframe-video {
        width: 186.66px;
        height: 105px;
    }

}